.navigation-bar {
  .navigation-bar__inner {
    background-color: #fff;
    display: flex;
    align-items: center;
    .left {
      padding-left: 20px;
      .back {
        width: 24px;
        height: 48px;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='24' viewBox='0 0 12 24'%3E %3Cpath fill-opacity='.9' fill-rule='evenodd' d='M10 19.438L8.955 20.5l-7.666-7.79a1.02 1.02 0 0 1 0-1.42L8.955 3.5 10 4.563 2.682 12 10 19.438z'/%3E%3C/svg%3E")
          no-repeat 50% 50%;
        background-size: cover;
      }
    }
    .center {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}
