.pjl_price {
  color: $theme-color;
  display: flex;
  align-items: baseline;
  .pjl_price_unit {
    font-size: 24px;
  }
  .pjl_price_decimal {
    font-size: 32px;
    &.large{
      font-size: 48px;
    }
  }
}
