.scrollview {
  height: calc(100vh - 80px - 96px);
  .list {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    padding: 24px;
    .left_list {
      width: 50%;
      margin-right: 12px;
    }
    .right_list {
      width: 50%;
      margin-left: 12px;
    }
    .goods_item {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
