.pjl-cell{
  display: flex;
  align-items: center;
  background: #fff;
  height: 96px;
  padding: 0 24px;
  font-size: 28px;
  .title{
    width: 60px;
    margin-right: 24px;
    color: rgba($color: #000000, $alpha: .8);
  }
  .desc{
    color: #999;
    flex: 1;
    @include clamp(1);
  }
  .right-icon{
  }
}