.address {
  .map_wrapper {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #address_map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .icon {
    width: 100px;
    height: 100px;
  }
  &_list {
    height: 50vh;
    .item {
      padding: 20px;
      background-color: #fff;
      border-bottom: 1px solid #333;
      &_name {
        color: $primary-color;
      }
      &_address {
        color: #ccc;
        font-size: 32px;
      }
    }
  }
}
