.goods_list_filter {
  position: relative;
  .filter_list {
    position: relative;
    z-index: 11;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    .filter_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      font-size: 28px;
      color: #333;
      height: 100%;
      .filter_icon{
        margin-left: 8px;
        width: 24px;
        height: 24px;
        transition: transform 0.3s;
        &.active{
          transform: rotate(180deg);
        }
      }
      &.active {
        color: $theme-color;
      }
    }
  }
}
