.pjl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.pjl-overflow-hidden {
  overflow: hidden !important;
}

.pjl-overlay-slide {
  @keyframes pjl-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes pjl-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &-enter-active,
  &-appear-active {
    animation-fill-mode: both;
    animation-name: pjl-fade-in;
    animation-duration: 0.3s;
  }

  &-exit-active {
    animation-fill-mode: both;
    animation-name: pjl-fade-out;
    animation-duration: 0.3s;
  }
}
