@font-face {
  font-family: "iconfont"; /* Project id 3434246 */
  src: url('//at.alicdn.com/t/c/font_3434246_c7nygeke02h.woff2?t=1693646675065') format('woff2'),
       url('//at.alicdn.com/t/c/font_3434246_c7nygeke02h.woff?t=1693646675065') format('woff'),
       url('//at.alicdn.com/t/c/font_3434246_c7nygeke02h.ttf?t=1693646675065') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-love:before {
  content: "\e8ab";
}

.icon-no-love:before {
  content: "\e8ac";
}

.icon-biyan:before {
  content: "\e611";
}

.icon-eyes:before {
  content: "\e644";
}
