@font-face {
  font-family: "iconfont"; /* Project id 3434246 */
  src: url('//at.alicdn.com/t/c/font_3434246_sxidxp807w.woff2?t=1713360027553') format('woff2'),
       url('//at.alicdn.com/t/c/font_3434246_sxidxp807w.woff?t=1713360027553') format('woff'),
       url('//at.alicdn.com/t/c/font_3434246_sxidxp807w.ttf?t=1713360027553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-love:before {
  content: "\e8ab";
}

.icon-no-love:before {
  content: "\e8ac";
}

.icon-close-eyes:before {
  content: "\e611";
}

.icon-eyes:before {
  content: "\e644";
}
